* {
    box-sizing: border-box;
    font-family: Verdana; sans-serif;
}

/*           Set Nav Bar          */

header {
    background-color:beige;
    border: 12px solid maroon;
    text-align: center;
    top: 0px;
    height: auto;
    width: 100%;
}

#stickyNavbar {
    display: flex;
    flex-direction:row;
    justify-content: center;
}

.content {
    padding: 16px;
}

.sticky {
    position: fixed;
    top 0;
    width: 100%;
}
.sticky + .content {
    padding-top: 60px;
}

div {
    margin-top: auto;
    position:
}

.headerButtons,
.dropbutton {
  background-color: mistyrose;
  border: none;
  padding: 0;
  text-align: left;
  text-decoration: none;
  font-size: 16px;     
}
.headerButtons:hover, .dropbutton:focus {
  background-color: rgb(210, 177, 240);    
    
}


h1 {
    display: flex;
    flex-flow: column;
    color: maroon;
}

ul{
    
    list-style-type: none;
}

<--        Add Dropdown Button   -->

.dropbutton {
  background-color: mistyrose;
  color: mistyrose;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
    
.dropbutton:hover, .dropbutton:focus {
  background-color: rgb(210, 177, 240);
}

/*   Position Dropdown Content   */

.dropdown {
  position: relative;
  display: inline-block;
}

/* Hidden Dropdown Content*/
 
.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(139,0,139);
  min-width: 160px;
  z-index: 1;
}

/*  Links in Dropdown  */

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;

</--      Adjust Images   _____>

.hotelimages {
    
    float: right;
    width: 100%;
    height: auto;
}


 


</--      Media Queries      -->

@media only screen and (max-width: 400px) {
    
    
}

@media only screen and (min-width: 768px),
    only screen and (min-width: 700px) and (orientation: landscape) {
    
    
}
@media only screen and (min-width: 1140px) {
    
    
}* {
    box-sizing: border-box;
    }



header {
    background-color: beige;
    border: 12px solid maroon;
    text-align: center;
    top: 0px;
    height: auto;
    width: 100%;
}


.sticky {
    position: fixed;
    top 0;
    width: 100%;
}

.sticky + .content {
    padding-top: 60px;
}
    
.intro {
    margin: 0 auto;
    width: 75%;
}

    
div {
    padding-top: 175px;
    margin: auto;
    }

.intro {
    display: flex;
    justify-content: center;
}


.headerButtons,
.dropbutton {
  background-color: mistyrose;
  border: none;
  width: 80px;
  text-align: center;
  padding: 0;
  text-decoration-color: black;
  font-size: 16px; 
  margin:auto;
  
    }

.headerButtons:hover, focus {
  background-color: rgb(210, 177, 240);    
    text-decoration-color: black;
    
}


h1 {
    display: inline-block;
    color: maroon;
}

ul {
    
    list-style-type: none;
}

/* --   Add Dropdown Button     -- */

.dropbutton {
  background-color: mistyrose;
  color: mistyrose;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
    
.dropbutton:hover, .dropbutton:focus {
  background-color: rgb(210, 177, 240);
}

/* --   Media Queries     -- */

@media only screen and (min-width: 1140px) {

  .wrapper {
    width: 1026px;
    margin: 0 auto;
  }

  .title {
    font-size: 2em;
  }

  nav a {
    padding: 25px 1%;
  }
  
}

